.row > [class^='col'] {
    min-height: 100px;
    padding: 5px;
    background-color: dodgerblue;
    border: 2px solid white;
    color: white;
}

.card {
    height: 50%;
    width: 100%;
    color: dodgerblue;
    background-color: white;
}

.col {
    max-height: 100%;
}

.nested [class^='col']{
    border: 2px solid dodgerblue;
    background-color: lightgreen;

}

.pb-3 {
    padding-bottom: 3rem;
}

